<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2"> 
        <br><br>
        <h3>Edit your data:</h3>  
        <form method="post" action="/listings/<%=listing.id%>?_method=PUT" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label"><b>Title</b></label> <!-- form control and form label are bootstrap.-->
                <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label"><b>Description</b></label>
                <textarea name="listing[description]"  cols="30" rows="5" class="form-control" required><%=listing.description%></textarea>
                <div class="invalid-feedback">
                    please enter short description
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label"><b>Image Link</b></label>
                <input type="text" name="listing[image]" value="<%=listing.image%>" placeholder="enter image link/URL" class="form-control" required>
                <div class="invalid-feedback">
                    image link should be valid
                </div>
            </div>
            
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label"><b>price</b></label>                
                    <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                    <div class="invalid-feedback">
                        Price should be valid
                    </div>
                </div>     
            
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label"><b>Location</b></label>       
                    <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                    <div class="invalid-feedback">
                        Location should be valid
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="country" class="form-label"><b>Country</b></label>            
                <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                <div class="invalid-feedback">
                    Country name should be valid
                </div>
            </div>
        
            <button class="btn btn-dark edit-btn mt-3">edit</button>
        </form>
        <br><br>
    </div>
</div>
